<h1>Novo Usuário</h1>

<form action="/usuarios/add" method="POST">

    <input
        type="text"
        name="nome"
        placeholder="Nome"
        required
    >

    <input
        type="email"
        name="email"
        placeholder="E-mail"
        required
    >

    <input
        type="text"
        name="cargo"
        placeholder="Cargo"
        required
    >

    <input
        type="text"
        name="telefone"
        placeholder="Telefone"
        required
    >

    <button type="submit">
        Salvar
    </button>

</form>