<h1>Dashboard</h1>

<div class="cards">

    <div class="card">
        <h3>Total</h3>
        <p>{{total}}</p>
    </div>

    <div class="card">
        <h3>Leves</h3>
        <p>{{leves}}</p>
    </div>

    <div class="card">
        <h3>Médias</h3>
        <p>{{medias}}</p>
    </div>

    <div class="card">
        <h3>Graves</h3>
        <p>{{graves}}</p>
    </div>

</div>

<br>

<a href="/ocorrencias">
    <button>Ver Ocorrências</button>
</a>