<h1>Sistema de Ocorrências Acadêmicas</h1>
<br>
<p>
Este sistema foi desenvolvido como projeto da disciplina de Projeto e Prática,
utilizando Node.js, Express, Handlebars, Sequelize e MySQL.
</p>
<br>
<h2>Objetivo</h2>
<br>
<p>
Permitir o cadastro, consulta, edição e exclusão de ocorrências acadêmicas e de usuários do sistema.
</p>
<br>
<h2>Equipe</h2>
<br>
<ul>
    <li>Renata Victoria Lira dos Santos</li>
    <li>Yuri Arthur Alves da Silva</li>
    
</ul>

<br>

<a href="/dashboard">
<br>
<br>
    <button>Entrar no Sistema</button>
</a>