<div class="login-container">

    <h1>Sistema de Ocorrências</h1>

    <form>

        <input
            type="text"
            placeholder="Matrícula"
        >

        <input
            type="password"
            placeholder="Senha"
        >

        <button type="submit">
            Entrar
        </button>
		
		<a href="/dashboard">
    <button>Voltar</button>
</a>

    </form>

</div>