<h1>Sobre o Sistema</h1>

<p>
Este sistema foi desenvolvido para auxiliar no registro e gerenciamento
de ocorrências escolares.
</p>
<br>
<h3>Principais funcionalidades</h3>
<br>
<ul>
    <li>Cadastro de ocorrências</li>
	
    <li>Consulta de ocorrências</li>
    <li>Edição de registros</li>
    <li>Exclusão de registros</li>
    <li>Dashboard com estatísticas</li>
</ul>
<br>
<h3>Tecnologias utilizadas</h3>
<br>
<ul>
    <li>Node.js</li>
    <li>Express</li>
    <li>Express Handlebars</li>
    <li>MySQL</li>
    <li>Sequelize</li>
</ul>